html, body {
  font-family: Lexend;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 56px;
  font-weight: 300;
  text-align: center;
  width: 835px;
}

.event-list {
  margin-top: 1.5rem;
  list-style: none;
  padding: 0;
}

.event-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 225px;
  width: 1100px;
  border-radius: 12px;
  margin-bottom: 1rem;
  background-color: #efefef;
}

.event-card h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.event-card img {
  width: 300px;
  height: 200px;
  border-radius: 12px;
  margin: 1em;
}

.info {
  font-weight: 400;
  font-size: 15px;
  margin: 0.5em 0;
}

.description {
  font-weight: 300;
  font-size: 15px;
  max-height: 40px;
  width: 600px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin: 0;
}

.column-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

.event-card a {
  color: black;
  border: black solid 1px;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin-right: 3em;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.pagination a {
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #333;
}

.pagination a:hover {
  background-color: #ddd;
}
